export DATABASE_PORT="5432"
export DATABASE_HOST="localhost"
export DATABASE_NAME="surf_marketplace"
export DATABASE_USERNAME="postgres"
export DATABASE_PASSWORD="postgres"

export ADMIN_BASIC_AUTH_USERNAME=""
export ADMIN_BASIC_AUTH_PASSWORD=""

export SECRET_KEY_BASE="" # run `mix phx.gen.secret` to generate one
